.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.25rem 2.25rem 0 2.25rem;
  min-height: 70px;
  color: #45536c;

  .title {
    margin: 0 0.75rem 0 0;
    font-weight: 600;
    font-size: 1.35rem;
    line-height: 1;
  }
}
