.wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f9;
  font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  *::-webkit-input-placeholder {
    color: #B4BDC6;
  }

  *:-moz-placeholder {
    /* FF 4-18 */
    color: #B4BDC6;
    opacity: 1;
  }

  *::-moz-placeholder {
    /* FF 19+ */
    color: #B4BDC6;
    opacity: 1;
  }

  *:-ms-input-placeholder {
    /* IE 10+ */
    color: #B4BDC6;
  }

  *::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #B4BDC6;
  }

  *::placeholder {
    /* modern browser */
    color: #B4BDC6;
  }

  .card-wrapper {
    max-width: 400px;
    width: 400px;
    height: 527px;
    position: relative;

    &::before {
      width: 148px;
      height: 148px;
      content: " ";
      position: absolute;
      top: -40px;
      right: -40px;
      background-image: url(images/bgRight.svg);
    }

    &::after {
      width: 243px;
      height: 240px;
      content: " ";
      position: absolute;
      bottom: -68px;
      left: -46px;
      background-image: url(images/bgLeft.svg);
    }

    .card {
      height: 100%;
      background-clip: padding-box;
      box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
      z-index: 1;
      position: relative;
      display: flex;
      word-wrap: break-word;
      background-color: #fff;
      border: 0 solid #d9dee3;
      border-radius: 0.5rem;

      .card-body {
        flex: 1 1 auto;
        padding: 1.5rem 1.5rem;
        z-index: 1;
      }

      .header {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        overflow: hidden;
        line-height: 1;
        min-height: 1px;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.5rem;

        svg {
          width: 22px;
          height: 33px;
          padding-right: 0.5rem;
        }

        span {
          font-weight: 900;
          --bs-text-opacity: 1;
          color: #697a8d;
          flex-shrink: 0;
          opacity: 1;
          transition: opacity .15s ease-in-out;
          font-size: 1.75rem;
          letter-spacing: -0.5px;
        }
      }

      .hello {
        font-weight: 500;
        line-height: 1.1;
        color: #566a7f;
        font-size: calc(1.2625rem + 0.15vw);
        margin-bottom: 0.5rem;
      }

      .tip {
        font-size: 15px;
        color: #697a8d;
        line-height: 1.53;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        box-sizing: border-box;
        margin-top: 0;
        margin-bottom: 1.5rem;
      }

      .account {
        margin-bottom: 1.5rem;

        .label {
          display: inline-block;
          margin-bottom: 0.5rem;
          font-size: 0.75rem;
          font-weight: 500;
          color: #566a7f;
          text-transform: uppercase;
          letter-spacing: inherit;
        }
      }

      .enter-input {
        width: 100%;
        padding: 0.4375rem 0.875rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.53;
        height: 40px;
        color: #697a8d;
        background-color: #fff;
        background-clip: padding-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.375rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:hover {
          background-color: #fff;
        }

        >div>input {
          padding: 0 !important;

          &:hover {
            background-color: #fff;
          }
        }

        .append {
          padding-right: 0;
          cursor: pointer;
        }
      }

      .password {
        margin-bottom: 1rem;

        >div {
          display: flex;
          justify-content: space-between;

          .label {
            display: inline-block;
            margin-bottom: 0.5rem;
            font-size: 0.75rem;
            font-weight: 500;
            color: #566a7f;
            text-transform: uppercase;
            letter-spacing: inherit;
          }
        }
      }

      .forget-password {
        color: #696cff;
        font-size: 85%;
        cursor: pointer;
      }

      .remember {
        display: block;
        min-height: 1.434375rem;
        padding-left: 1.7em;
        margin-bottom: 1.125rem;

        >input {
          width: 1.2em;
          height: 1.2em;
          margin-top: 0.165em;
          vertical-align: top;
          background-color: #fff;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          border: 1px solid #d9dee3;
          appearance: none;
          -webkit-print-color-adjust: exact;
          float: left;
          margin-left: -1.7em;
          border-radius: 0.25em;

          &:checked, &:indeterminate {
            background-color: #696cff;
            border-color: #696cff;
            box-shadow: 0 2px 4px 0 rgba(105, 108, 255, 0.4);
            background-image: url(images/whiteCheckbox.svg);
          }
        }

        .label {
          font-size: 15px;
          color: #697a8d;
          line-height: 20px;
        }
      }

      .sign-in {
        width: 100%;
        height: 40px;
        margin-bottom: 1.125rem;
        font-weight: 400;
        line-height: 1.53;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.4375rem 1.25rem;
        font-size: 0.9375rem;
        border-radius: 0.375rem;
        transition: all .2s ease-in-out;
        color: #fff;
        background: #696cff;
        border-color: #696cff;
        box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
        cursor: pointer;

        &:active,
        &:hover {
          background: #595cd9 !important;
          border-color: #595cd9 !important;
        }
      }

      .create-new-count {
        display: flex;
        justify-content: center;
        font-size: 15px;
        color: #697a8d;

        >a {
          padding-left: 5px;
          text-decoration: none;
          color: #696cff;
          cursor: pointer;
        }
      }
    }
  }
}