@import 'assets/styles/variables';

@import 'assets/styles/mixins';

.wrapper {
  display: flex;

  label.label {
    position: relative;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    color: #091e42;
    font-family: $font-family;
    line-height: 1.33333;
    cursor: pointer;

    input {
      position: relative;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      flex-shrink: 0;
      -webkit-box-pack: center;
      justify-content: center;
      margin: 0;
      width: 24px;
      height: 24px;
      outline: none;
      border: calc(2px * 12 / 7) solid var(--radio-border-color);
      border-radius: 50%;
      background-color: var(--radio-background-color);
      vertical-align: top;
      transition: border-color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
      transform: scale(0.583333);

      --local-background: #fafbfc;
      --local-background-hover: #ebecf0;
      --local-background-active: #deebff;
      --local-background-checked: #18a0cb;
      --local-background-checked-hover: #18a0cb;
      --local-dot-checked: #fafbfc;
      --local-dot-disabled: #a5adba;
      --local-dot-active: #18a0cb;
      --local-border: #dfe1e6;
      --local-border-hover: #dfe1e6;
      --local-border-focus: #18a0cb;
      --local-disabled: #f4f5f7;
      --local-invalid: #ff5630;
      --radio-background-color: var(--local-background);
      --radio-border-color: var(--local-border);
      --radio-dot-color: var(--local-dot-checked);
      --radio-dot-opacity: 0;
      appearance: none;

      &::after {
        position: absolute;
        width: calc(6.85714px);
        height: calc(6.85714px);
        border-radius: 50%;
        background: var(--radio-dot-color);
        content: '';
        opacity: var(--radio-dot-opacity);
        transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
      }

      &:hover {
        --radio-background-color: var(--local-background-hover);
      }

      &:focus {
        --radio-border-color: var(--local-border-focus);
      }

      &:checked {
        --radio-background-color: var(--local-background-checked);
        --radio-border-color: var(--local-background-checked);
        --radio-dot-opacity: 1;
      }

      &:checked:hover {
        --radio-background-color: var(--local-background-checked-hover);
        --radio-border-color: var(--local-background-checked-hover);
      }

      &:checked:focus {
        --radio-border-color: var(--local-border-focus);
      }
    }

    .content {
      padding-right: 4px;
      padding-left: 4px;
    }
  }

  input {
    margin: 0;
    width: 0;
    height: 0;
    outline: none;
    border: none;

    appearance: none;
  }

  &.inline {
    display: inline-flex;
    height: 32px;
  }
}
