@import 'assets/styles/mixins';

.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  min-width: 1px;
  height: em(16);
  border-radius: 0.25rem;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  font-family: $font-family;
  line-height: 1;

  &.pill {
    border-radius: 2em;
  }

  &.primary {
    background-color: #0052cc;
    color: #fff;
  }

  &.secondary {
    background-color: #dfe1e6;
    color: #172b4d;
  }

  &.important {
    background-color: #de350b;
    color: #fff;
  }
}
