.wrapper {

  &.invalid {
    border-radius: 3px;
    border: 1px solid #DE350B;
  }
  .container {
    position: relative;
    min-width: 250px;
    pointer-events: all;

    .control {
      position: relative;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding: 2px 6px;
      border: 1px solid var(--border-neutral, #f4f5f7);
      border-radius: 3px;
      background-color: #091e420a;
      color: #42526e;

      &.active {
        border-color: #4c9aff !important;
        background: #fff !important;
      }

      &:hover {
        border-color: var(--border-neutral, #ebecf0);
        background: #091e4214;
        color: #42526e;
        cursor: pointer;
      }

      &.disabled {
        border-color: #091e420a;
        background: #091e420a;
        color: #a5adba;
        text-decoration: none;
        cursor: not-allowed;

        user-select: none;
      }

      .placeholder {
        margin: 0 2px;
        color: var(--text-lowEmphasis, #5e6c84);
      }

      .vale-container {
        position: relative;
        display: flex;
        overflow: hidden;
        -webkit-box-align: center;
        align-items: center;
        flex: 1 1 0;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 2px 6px;

        .multi-value {
          display: flex;
          margin: 2px;
          border-radius: 2px;
          background-color: var(--background-transparentNeutral-hover, #dfe1e6);

          .label {
            overflow: hidden;
            box-sizing: border-box;
            padding: 2px 6px 2px 6px;
            border-radius: 2px;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 85%;
          }

          .remove {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            box-sizing: border-box;
            padding-right: 2px;
            padding-left: 2px;
            cursor: pointer;

            &:hover {
              background-color: var(--background-subtleDanger-hover, #ffbdad);

              fill: var(--text-danger, #000);
            }

            > svg {
              width: 16px;
              height: 16px;
              color: rgba(256, 256, 256, 0);
            }
          }
        }
      }

      .indicator {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding-right: 4px;

        .clear-indicator {
          display: flex;
          color: var(--text-lowEmphasis, #a5adba);

          > span {
            line-height: 1;

            > svg {
              overflow: hidden;
              width: 16px;
              height: 16px;
              color: #a5adba;
              vertical-align: bottom;

              fill: #fff;
            }
          }
        }

        .dropdown-indicator {
          display: flex;
          padding: 4px 2px;
          color: var(--text-mediumEmphasis, #42526e);
        }
      }
    }
  }
}

.menu {
  overflow: scroll;
  margin-bottom: 8px;
  margin-left: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-height: 300px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--background-overlay, white);
  box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);

  .item {
    display: block;
    box-sizing: border-box;
    padding: 6px 12px;
    width: 100%;
    color: var(--text-highEmphasis, #172b4d);
    cursor: pointer;

    &:hover {
      display: block;
      padding: 6px 12px;
      width: 100%;
      background-color: var(--background-transparentNeutral-hover, #f4f5f7);
      box-shadow: inset 2px 0 0 var(--text-selected, #0052cc);
      color: var(--text-highEmphasis, #172b4d);
    }
  }
}
