.table {
  display: table;
  width: 100%;

  .body {
    display: table-row-group;
  }

  .row {
    display: table-row;
  }

  .cell {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid var(--rs-border-secondary);
  }
}
