.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .block {
    .title {
      color: #697a8d;
      font-weight: 400;
      font-size: 0.9375rem;
      line-height: 22px;
    }

    .content {
      color: #566a7f;
      font-weight: 600;
      font-size: 1.625rem;
    }
  }
}
