@import 'assets/styles/variables';

@import 'assets/styles/mixins';

.wrapper {
  display: flex;

  label.label {
    display: inline-flex;
    align-items: center;
    color: #091e42;
    font-family: $font-family;
    line-height: 1.33333;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
    }

    input {
      & + .check {
        flex-shrink: 0;
        color: var(--checkbox-background-color);
        transition: color 0.2s ease-in-out 0s, fill 0.2s ease-in-out 0s;

        --local-background: #fafbfc;
        --local-background-hover: #ebecf0;
        --local-background-active: #deebff;
        --local-background-checked: #696cff;
        --local-background-checked-hover: #696cff;
        --local-background-disabled: #f4f5f7;
        --local-tick-rest: #0000;
        --local-tick-checked: #fafbfc;
        --local-tick-disabled: #a5adba;
        --local-tick-active: #696cff;
        --local-border: #dfe1e6;
        --local-border-disabled: #f4f5f7;
        --local-border-checked: #696cff;
        --local-border-active: #deebff;
        --local-border-invalid: #ff5630;
        --local-border-focus: #4c9aff;
        --local-border-hover: #dfe1e6;
        --local-border-checked-hover: #696cff;
        --local-border-checked-invalid: #ff5630;
        --checkbox-background-color: var(--local-background);
        --checkbox-border-color: var(--local-border);
        --checkbox-tick-color: var(--local-tick-rest);
        fill: var(--checkbox-tick-color);

        rect:first-of-type {
          transition: stroke 0.2s ease-in-out 0s;

          stroke: var(--checkbox-border-color);
          stroke-width: 1px;
        }

        path {
          opacity: 0;
        }
      }

      &:hover + .check {
        --checkbox-background-color: var(--local-background-hover);
        --checkbox-border-color: var(--local-border-hover);
      }

      &:checked:hover + .check {
        --checkbox-background-color: var(--local-background-checked-hover);
        --checkbox-border-color: var(--local-border-checked-hover);
      }

      &:checked + .check {
        --checkbox-background-color: var(--local-background-checked);
        --checkbox-border-color: var(--local-border-checked);
        --checkbox-tick-color: var(--local-tick-checked);

        path {
          opacity: 1;
        }
      }

      &:focus + .check, &:checked:focus + .check {
        --checkbox-border-color: var(--local-border-focus);
      }

      &:disabled, &:disabled:hover {
        & + .check {
          color: var(--checkbox-background-color);
          cursor: not-allowed;
          pointer-events: none;

          --checkbox-background-color: var(--local-background-disabled);
          --checkbox-border-color: var(--local-border-disabled);
          fill: var(--checkbox-tick-color);
        }

        & + .check + .content {
          color: #97a0af;
          cursor: not-allowed;
        }
      }

      &:disabled:checked, &:disabled:checked:hover {
        & + .check {
          --checkbox-tick-color: var(--local-tick-disabled);
          fill: var(--checkbox-tick-color);
        }
      }
    }

    .check {
      overflow: hidden;
      width: 24px;
      height: 24px;
      color: currentColor;
      pointer-events: none;

      fill: #fff;
    }

    .content {
      padding-right: 4px;
      padding-left: 4px;

      user-select: none;
    }
  }

  input {
    margin: 0;
    width: 0;
    height: 0;
    outline: none;
    border: none;
    opacity: 0;

    appearance: none;
  }

  &.inline {
    display: inline-flex;
    height: 32px;
  }
}
