.wrapper {
  padding: 1.25rem 0;

  table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #eff2f5;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 0.65rem;
    color: #181c32;
    vertical-align: top;

    thead {
      tr {
        border-bottom: 1px solid #f5f8fa;
      }
    }

    th {
      padding: 1.75rem 0;
      text-align: left;
    }

    th:first-child {
      padding-left: 1.75rem;
    }

    th:last-child {
      padding-right: 1.75rem;
    }

    td {
      padding: 1.75rem 0;
      text-align: left;
    }

    td:first-child {
      padding-left: 1.75rem;
    }

    td:last-child {
      padding-right: 1.75rem;
    }
  }
}
