//@import-normalize;
@import './assets/styles/font';

:global {
  html, body {
    height: 100%;
  }

  html {
    ::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #c4c4c4;
    }

    ::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: #c4c4c4;
    }
  }

  body {
    margin: 0;
    background-color: #fff;
    background-color: #f2f7ff;
    color: #45536c;
    color: #607080;
    font-style: normal;
    font-size: 14px;
    font-family: 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
    line-height: 1.22857;

    text-decoration-skip-ink: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    > div {
      color: #45536c;
    }

    .rs-picker-menu {
      z-index: 999;
    }

    .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle-active {
      border-color: #2d62c4;
      box-shadow: none;
    }

    .rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover {
      border-color: #2d62c4;
    }

    .rs-uploader-file-item-size {
      display: none !important;
    }

    .tox-tinymce {
      border: 1px solid #dfe1e6;
    }
  }

  #root {
    display: flex;
    height: 100%;
  }

  a {
    color: #0052cc;
    transition-duration: 0s, 0.15s;

    &:hover {
      color: #0065ff;
    }
  }
}

.container-cms {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 1200px;

  main {
    margin-left: 300px;
    padding: 2rem;
  }
}

.container-basic {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 100vw;
}
