//@import-normalize;
@import './assets/styles/font';

:global {
  html, body {
    height: 100%;
  }

  html {
    ::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #c4c4c4;
    }

    ::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: #c4c4c4;
    }
  }

  body {
    margin: 0;
    background-color: #fff;
    background-color: #f2f7ff;
    color: #45536c;
    color: #607080;
    font-style: normal;
    font-size: 14px;
    font-family: 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
    line-height: 1.22857;

    text-decoration-skip-ink: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    > div {
      color: #45536c;
    }

    .rs-picker-menu {
      z-index: 999;
    }
  }

  table {
    margin-bottom: 1rem;
    width: 100%;
    border-collapse: collapse;
    border-color: #eff2f5;
    color: #181c32;
    caption-side: bottom;
    vertical-align: top;

    > :not(:last-child) > :last-child > * {
      border-bottom-color: inherit;
    }

    tr, th, td {
      min-height: inherit;
      height: inherit;
      border-width: inherit;
      border-style: inherit;
      border-color: inherit;
      color: inherit;
      text-transform: inherit;
      font-weight: inherit;
      font-size: inherit;

      a {
        text-decoration: none;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    tfoot, tbody {
      tr:last-child {
        border-bottom: 0 !important;

        th, td {
          border-bottom: 0 !important;
        }
      }
    }

    tfoot {
      th, td {
        border-top: inherit;
      }
    }
  }

  #root {
    display: flex;
    height: 100%;
  }

  a {
    color: #0052cc;
    transition-duration: 0s, 0.15s;

    &:hover {
      color: #0065ff;
    }
  }
}

.container-cms {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 1200px;

  main {
    margin-left: 300px;
    padding: 2rem;
  }
}

.container-basic {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 100vw;
}
